:root {
    --bg: #07111F;
    --text: #FFFFFF;
    --btn: #FFFFFF;
    --primary: #B7FF2A;
    --secondary: #0A1628;
    --font-main:'Poppins', sans-serif;

}

*{
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 3vh;
}
body{
    background-color: #07111F;
    color: var(--btn);
    font-family: var(Poppins);
}
a{
    text-decoration: none;
    color: var(--text);
}
 a:hover{
    color: var(--primary);
}
ul{
    display: flex;
    list-style: none;
    gap: 4rem;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70px;
    gap: 20rem;
    position: sticky;
    top: 0;
    background-color: var(--bg);
}
.vert{
    color: var(--primary);
}
img{
    height: 500px;
    width: 500px;
}
hr{
    width: 40rem;
    text-align: 50rem;
    margin: 20px auto;
}

.ma_bio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 520px;
    gap: 1rem;
}
.mon_Nom{
    font-size: 40pt;
}

.article{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    text-align: center;
}

.services
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 310px;
    gap: 2rem;
}

.item_serv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

}

i{
    font-size: 50px;
    color: rgb(255, 255, 255);
    background-color: brown;
    border-radius: 90rem;
    width: 95px;
    height: 95%;
}

.se_vendre{
    display: flex;
    flex-direction: column;
    height: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.contact{
    display: flex;
    flex-direction: column;
    height: 160px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.footer{
    display: flex;
    flex-direction: column;
    height: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}